.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.login-header img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.login-header h1 {
  font-size: 24px;
  color: #333;
}

.login-input {
  margin-bottom: 15px;
  padding: 15px;
  border: 2px solid #333;
  border-radius: 8px;
  color: #333;
  font-size: 1em;
  max-width: 300px;
  outline: none;
  width: 100%;
}

.login-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  max-width: 300px;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.login-form p {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.background_telas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/backg.png");
  background-size: 130%;
  background-position: center top -500px; /* sobe a imagem */
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: -1;
}
